<template name="groupList">
	<div class="dashboard-wrapper">
    	{{#each groups}}
     	   {{> group}}
    	{{/each}}
    </div>
</template>

<template name="group">
    <div>
		<h3>{{ name }}</h3>
		<p>{{ description }}</p>
		<span>{{expire_date}}</span>
		<span>{{xmas_date}}</span>
		{{#if currentUser}}
	        {{#if isRegistered}}
	            <button class="unregister btn btn-danger btn-xs" type="button">Unregister</button>
	        {{else}}
	            <button class="register btn btn-success btn-xs" type="button">Register</button>
	        {{/if}}
	    {{/if}}
	</div>	
</template>