body {
	background: #f2f2f2 !important;
}

a {
	color: #008aff;
}

h3, p, a, span {
	font-family: 'Open Sans', sans-serif;
}

h3 {
	color: #d73a3a !important;
	margin-top: 0 !important;
}

.container {
	
}

.login-wrapper {
	margin: 50px auto 10px;
	width: 300px;
}

.accounts-dialog {
	left: 12px !important;
    margin-top: 40px;
    width: 300px;
}

.accounts-dialog .login-close-text {
	float: right !important;
}

.accounts-dialog a {
	color: #008aff;
}

.dashboard-wrapper, .reg-wrapper {
	width: 300px;
	padding: 0 25px;
	margin: auto;
	border-radius: 3px;
	background: #fff;
}

.dashboard-wrapper h3 {
	color: #d73a3a;
}

.dashboard-wrapper p {
	color: #333;
}

.dashboard-wrapper span {
	color: #999;
	font-size: 12px;
	font-weight: 300;
}

.dashboard-wrapper div {
	border-bottom: 1px dashed #eaeaea;
    padding: 25px 0 30px;
    overflow: auto;
}

.dashboard-wrapper div:last-child {
	border: none;
}

.dashboard-wrapper div h3 {
	margin-top: 0;
}

.dashboard-wrapper div button {
	margin-top: 20px;
	float: right;
}

.regList-wrapper ul {
	padding-left: 15px;
}

.reg-wrapper, .regList-wrapper {
	width: 300px;
	padding: 25px;
	margin: auto;
	border-radius: 3px;
	background: #fff;
	overflow: auto;
}

.reg-wrapper p {
	text-align: right;
}

.reg-wrapper p input[type="radio"] {
	margin-right: 5px;
}

.reg-wrapper p strong {
	color: #666;
    font-size: 12px;
    margin-right: 5px;
    text-transform: uppercase;
}

.reg-wrapper p span {
	color: #999;
    font-size: 12px;
    margin-right: 5px;
}

.reg-wrapper p span:first-child {
	margin-right: 5px;
}

.reg-wrapper p:nth-child(4) {
	margin: 15px 0;
}

.reg-wrapper button {
	float: right;
}

.reg-wrapper button:last-child {
	margin-right: 10px;
}

