<template name="manitomanita">
	<div class="regList-wrapper">
		<h3>Registered</h3>
		
		<ul>
			<li>
				{{#each manitomanitas}}
				{{> codename}}
				{{/each}}
			</li>
		</ul>
		
	</div>
</template>

<template name="codename">
	<a href="/wishlist/{{_id}}">{{codename}}</a><br/>	
	<!-- <span>{{_id}}</span> -->
</template>