<template name="register_form">
    <div class="reg-wrapper">
        <span>{{this.params._id}}</span>
        <form class="register-form">
            <h3>Register</h3>
            <p> 
                <input class="register-codename form-control" type="text" placeholder="Codename">
            </p>
            <p>
                <input class="register-age form-control" type="number" placeholder="Age">
            </p>
            <p>
                <strong>Gender</strong>
                <input type="radio" name="register-gender" value="M"><span>Male</span>
                <input type="radio" name="register-gender" value="F"><span>Female</span>
            </p>

            <div>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default register-form-cancel">Cancel</button>
            </div>
        </form>
    </div>
</template>