<template name="wishlist">
	<div>
	{{#each wishlist}}
		{{> wish}}
	{{/each}}
	</div>
	
	<input id="new-wish" type="text" placeholder="Wish">
	<input id="description" type="text" placeholder="Description">
	<a class="add" href="">Add to Wishlist</a>
</template>

<template name="wish">
	<p>Wish: {{title}}</p>
	<p>Description: {{description}}</p><a class="remove" href="">Remove</a>
</template>